/* メール画面全体の余白設定 */
.mail-container {
    padding: 30px;
}

/* メール一覧タイトル */
.mail-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* メール一覧の表示ボックス */
.mail-list {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    height: 300px;
     /* 縦スクロール表示 */
    overflow-y: auto;
    background-color: #f5f5f5;
}

/* 各メール行のスタイル */
.mail-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* 最後の行の下線を非表示 */
.mail-item:last-child {
    border-bottom: none;
}

/* 戻るボタンのスタイル */
button {
    /* margin-top: 20px; */
  color: black !important;
  background-color: #A3CCBE;
  border: 2px solid #A3CCBE;
  padding: 8px 16px;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background: linear-gradient(135deg, #8bb8a8, #7aa396);
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(163, 204, 190, 0.4);
    text-decoration: none !important;
    color: white !important;
}
